{% import '@HBMTwigBootstrap/macrosBootstrapInternal.html.twig' as mbi %}

<button {{ bsLink.attributes.class('btn')|raw }}><span class="btn-text">{{ mbi.icons(bsLink.icons, bsLink.text) }}{{ bsLink.text|raw }}</span></button>
